@model List<todo>
<link href="~/css/site.css" rel="stylesheet" />
<div class="alert alert-danger" >@TempData["silindi"]</div>
<div class="scroll-area-sm">
    <perfect-scrollbar class="ps-show-limits">
        <div style="position: static;" class="ps ps--active-y">
            <div class="ps-content">
                @foreach (var item in Model)
                {
                    <ul class=" list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                        <input type="checkbox" id="benzersiz" /> @item.konu

                                    </div>
                                    <div class="widget-content-right">
                                        <button class="border-0 btn-transition btn btn-outline-success"> Tamam</button>


                                        <a href="~/Home/Sil/@item.ID" class="border-0 btn-transition btn btn-outline-danger">Sil</a>

                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!--<ul class=" list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="todo-indicator bg-success"></div>
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left mr-2">
                                        <div class="custom-checkbox custom-control">
                                            <input class="custom-control-input" id="@item.ID" type="checkbox">
                                            <label class="custom-control-label" for="exampleCustomCheckbox12">&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="widget-content-left">
                                        <div class="widget-heading">
                                            @item.konu-->
                    @*<div class="badge badge-info ml-2">@item.tarih</div>*@
                    <!--</div>
                                    </div>
                                    <div class="widget-content-right">
                                        <button class="border-0 btn-transition btn btn-outline-success"> tamam</button>
                                        <button class="border-0 btn-transition btn btn-outline-danger"> sil</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>-->
                }
            </div>
        </div>
    </perfect-scrollbar>
</div>
<a asp-controller="Home" asp-action="Todo" class="border-0 btn-transition btn btn-info"> EKLE GİT</a>